App/AppInfo/pac_installer_log.ini
App/DefaultData/profile/translators/EM-Premium.js
App/DefaultData/profile/styles/service-medical-de-l-assurance-maladie.csl
App/Zotero/tobedeleted/
App/Zotero/Zotero/
Data/
*.bak
App/Zotero/removed-files
App/Zotero/precomplete
